<!DOCTYPE html>
<html>
  <head>
    <title>Hawaii Trails</title>
  </head>
  <body>
    <div id="map" class="map"></div>
    <footer class="track-stats">
      <dl class="track-stats__list">
        <dt class="track-stats__title">Trail</dt>
        <dd class="track-stats__stat" id="track-name"></dd>
        <dt class="track-stats__title">Distance</dt>
        <dd class="track-stats__stat" id="track-distance"></dd>
        <dt class="track-stats__title">Elevation Gain</dt>
        <dd class="track-stats__stat" id="track-elevation-gain"></dd>
        <dt class="track-stats__title">Elevation Loss</dt>
        <dd class="track-stats__stat" id="track-elevation-loss"></dd>
      </dl>
    </footer>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="static/js/scripts.js"></script>
  </body>
</html>